[submodule "praktika2"]
	path = praktika2
	url = https://github.com/kenn1d/-05.02_praktika2.git
[submodule "praktika3"]
	path = praktika3
	url = https://github.com/kenn1d/-05.02_praktika3.git
[submodule "praktika4"]
	path = praktika4
	url = https://github.com/kenn1d/-05-02_praktika4.git
[submodule "praktika5"]
	path = praktika5
	url = https://github.com/kenn1d/-05-02_praktika5.git
[submodule "praktika6"]
	path = praktika6
	url = https://github.com/kenn1d/-05-02_praktika6.git
[submodule "praktika7"]
	path = praktika7
	url = https://github.com/kenn1d/-05.02_praktika7.git
[submodule "praktika8"]
	path = praktika8
	url = https://github.com/kenn1d/-05.02_praktika8.git
[submodule "praktika9"]
	path = praktika9
	url = https://github.com/kenn1d/-05.02_praktika9.git
[submodule "praktika10"]
	path = praktika10
	url = https://github.com/kenn1d/-05.02_praktika10.git
[submodule "praktika11"]
	path = praktika11
	url = https://github.com/kenn1d/-05.02_praktika11.git
[submodule "praktika12"]
	path = praktika12
	url = https://github.com/kenn1d/-05.02_praktika12.git
[submodule "praktika13"]
	path = praktika13
	url = https://github.com/kenn1d/-05.02_praktika13.git
[submodule "praktika14"]
	path = praktika14
	url = https://github.com/kenn1d/-05.02_praktika14.git
[submodule "praktika15"]
	path = praktika15
	url = https://github.com/kenn1d/-05.02_praktika15.git
[submodule "praktika16"]
	path = praktika16
	url = https://github.com/kenn1d/-05.02_praktika16.git
[submodule "praktika17"]
	path = praktika17
	url = https://github.com/kenn1d/-05.02_praktika17.git
[submodule "praktika18"]
	path = praktika18
	url = https://github.com/kenn1d/-05.02_praktika18.git
[submodule "praktika19"]
	path = praktika19
	url = https://github.com/kenn1d/-05.02_praktika19.git
[submodule "praktika20"]
	path = praktika20
	url = https://github.com/kenn1d/-05.02_praktika20.git
[submodule "praktika21-30"]
	path = praktika21-30
	url = https://github.com/kenn1d/-05.02_praktika21-30.git
[submodule "praktika22"]
	path = praktika22
	url = https://github.com/kenn1d/-05.02_praktika22.git
[submodule "praktika23"]
	path = praktika23
	url = https://github.com/kenn1d/-05.02_praktika23.git
[submodule "praktika24"]
	path = praktika24
	url = https://github.com/kenn1d/-05.02_praktika24.git
[submodule "praktika25"]
	path = praktika25
	url = https://github.com/kenn1d/-05.02_praktika25.git
[submodule "praktika26"]
	path = praktika26
	url = https://github.com/kenn1d/-05.02_praktika26.git
[submodule "praktika27"]
	path = praktika27
	url = https://github.com/kenn1d/-05.02_praktika27.git
